.idea
.vscode
/target
/target_ra
*.dll
*.exe
*.log

# QuickTag
tags_*.cache
oo2core_3_win64.dll
oo2core_9_win64.dll
package_cache.json
raw_strings_filtered.txt
keys.txt
wwise_info_*.txt
dump/
textures/
strings/
misc/
# Wordlist source filest
wordlist_*.txt
wordlist_src/
